/* styles.css */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #515461;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    overflow: hidden; /* Prevent scroll bars from appearing */
    position: relative;
}

.snowflakes {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
    animation: snowfall linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

.clicker-container {
    position: relative;
}

.clicker-circle {
    width: 100px;
    height: 100px;
    background-color: #5cb85c;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: background-color 0.3s ease;
    touch-action: manipulation; /* Added for touch devices */
}

.clicker-circle:hover {
    background-color: #4cae4c;
}

.upgrade-menu {
    position: absolute;
    top: -350px;
    left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    touch-action: manipulation; /* Added for touch devices */
}

#upgrade-btn {
    background-color: #5cb85c;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
    touch-action: manipulation; /* Added for touch devices */
}

#upgrade-btn:hover {
    background-color: #4cae4c;
}

.money-display {
    position: absolute;
    top: -350px;
    left: 150px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    touch-action: manipulation; /* Added for touch devices */
}

#changelog-btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: -325px; /* Adjust the top position as needed */
    left: 35%; /* Adjust the left position as needed */
    transform: translateX(-50%);
    margin-left: -25px; /* Adjust the margin to prevent overlap */
    transition: background-color 0.3s ease;
    touch-action: manipulation; /* Added for touch devices */
}

#changelog-btn:hover {
    background-color: #45a049;
}

#changelog-menu {
    position: absolute;
    top: 120px; /* Adjust the top position as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
    display: none; /* Initially hide the changelog menu */
    touch-action: manipulation; /* Added for touch devices */
}

.close-btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.3s ease;
    touch-action: manipulation; /* Added for touch devices */
}

.close-btn:hover {
    background-color: #45a049;
}
